doc/_build*
target
build
.DS_Store
.project
.classpath
.idea
*.iml
*.log
*.log.*
*.old
*.obj
*.zip
data/maps/customisations.obj
data/db/db-*
data/db/domains-en.db
data/embeddings
data/embeddings/*
data/corpus/*
data/species/*
data/evaluation/*
data/wikipedia/*
logs
.settings
doc