doc/_build*
target
.DS_Store
.project
.settings
.classpath
.idea
*.iml
*.log
*.log.*
*.old
*.obj
*.zip
data/maps/customisations.obj
data/db/db-en
data/db/db-fr
data/db/db-de
data/db/db-it
data/db/db-es
data/db/db-kb
data/db/domains-en.db
data/embeddings
data/embeddings/en
data/embeddings/fr
data/embeddings/de
data/embeddings/es
data/embeddings/it
data/corpus/corpus-long/aida/RawText
data/corpus/corpus-long/aida-train/RawText
data/corpus/corpus-long/aida-testa/RawText
data/corpus/corpus-long/aida-testb/RawText
data/species