target
.DS_Store
.project
.settings
.classpath
.idea
*.iml
*.log
*.log.*
*.old
data/maps/customisations.obj
data/wikipedia/db-en
data/wikipedia/db-fr
data/wikipedia/db-de
data/wikipedia/domains-en.db
*.zip