<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm.ss} [%-5p] %-25c{1} - %m\n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.FileAppender">
       <param name="file" value="entity-fishing.log"/>
       <param name="immediateFlush" value="true"/>
       <param name="threshold" value="debug"/>
       <param name="append" value="true"/>
       <param name="encoding" value="UTF-8"/>

       <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm.ss} [%-5p] %-25c{1} - %m\n"/>
       </layout>
    </appender>

    <root>
        <priority value="INFO"></priority>
        <!--appender-ref ref="CONSOLE"/-->
        <appender-ref ref="FILE"/>
    </root>
</log4j:configuration>
